{% extends 'base.html' %}
{% block title %} Admin Order {% endblock title %}
{% block content %}


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content mt-3 bg">
  <div class="container mt-5 mb-5">

    <h1 class="text-center h2 mb-4">My Orders</h1>
    <div class="d-flex mb-3 justify-content-end">
      <form action="{% url 'admin_orders' %}" class="search" method="POST">
        {% csrf_token %} 
        <div class="input-group w-100">
          <input type="text" class="form-control" style="width: 60%" placeholder="Search" name="keyword" />

          <div class="input-group-append">
            <button class="btn btn-gray-light" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      {% include 'includes/admin_dashboard_sidebar.html' %}
      <main class="col-md-9">
        <div class="wrap-table-shopping-cart">
        <table class="table table-gray-light">
          <thead>
            <tr>
              <th scope="col">Order </th>
              <th scope="col">User</th>
              <th scope="col">Billing Name</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Order Total</th>
              <th scope="col">Order Status</th>
              <th scope="col">Order Cancel</th>
            </tr>
          </thead>
          <tbody>
            {% for order in orders %}
            <tr>
              <th scope="row"><a href="{% url 'order_detail' order.order_number %}">{{ order.order_number }}</a></th>
              <td>{{ order.user }}</td>
              <td>{{ order.full_name }}</td>
              <td>{{ order.phone }}</td>
              <td>₹ {{ order.order_total }}</td>
              <td>
                {% if order.status == 'Cancelled' %}
                <span class="text-danger font-weight-bold">{{ order.status }}</span>
                {% elif order.status == 'Delivered' %}
                <span class="text-success font-weight-bold">{{ order.status }}</span>
                {% elif order.status == 'Pending' %}
                <span class="text-muted font-weight-bold">{{ order.status }}</span>
                {% else %} <span class="text-info font-weight-bold">{{ order.status }}</span>
                {% endif %}
              </td>
              <td>{% if order.status == 'Cancelled' %}
                <button class="btn btn-info disabled">Cancelled</button>
                {% else %}
                <a href="{% url 'cancel_order' order.order_number %}" class="btn btn-danger">Cancel</a>
              
                {% endif %}
                </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      </main>
    </div>
    <!-- row.// -->
  </div>
  <div class="container">
    <div class="row">
      <aside class="col-md-3"></aside>
      <main class="col-md-9">
        <nav class="mt-4" aria-label="Page navigation sample">
          {% if orders.has_other_pages %}
          <ul class="pagination">
            {% if orders.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ orders.previous_page_number }}">Previous</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
            {% endif %} {% for page_number in orders.paginator.page_range %} {% if orders.number == page_number %}
            <li class="page-item active"><a class="page-link" href="#">{{ page_number }}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
            {% endif %} {% endfor %} {% if orders.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ orders.next_page_number }}">Next</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
            {% endif %}
          </ul>
          {% endif %}
        </nav>
      </main>
    </div>
  </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}