{% extends "base.html" %}
{% load static %}
{% block title %} Admin Panel {% endblock title %}
{% block content %}



    
    
    
    
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-conten padding-y bg" style= background-color:white;>
    
      <div class="container mt-5 mb-5">

      <h2 class="text-center  text-dark mb-5">DASHBOARD</h2>
        <div class="row">
          
        {% comment %} {% include 'include/admin_dashboard_sidebar.html' %} {% endcomment %}
        
        <main class="col-md-9">
            <div class="row">
                <div class="col-sm-6 text-center">
                  <div class="card bg-light">
                    <div class="card-body">
                      <h5 class="card-title">Total Users</h5>
                      <p class="card-text text-gray-light h3">{{user_count}}</p>
                      <a href="{% url 'user_management' %}" class="btn btn-gray-light">View Users</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 text-center">
                    <div class="card bg-light">
                      <div class="card-body">
                        <h5 class="card-title">Total Products</h5>
                        <p class="card-text text-gray-light h3">{{product_count}}</p>
                        <a href="#" class="btn btn-gray-light">View Products</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 text-center">
                    <div class="card bg-light mt-3">
                      <div class="card-body">
                        <h5 class="card-title">Total Orders</h5>
                        <p class="card-text text-gray-light h3">{{order_count}}</p>
                        <a href="#" class="btn btn-gray-light">View Orders</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 text-center">
                    <div class="card bg-light mt-3">
                      <div class="card-body">
                        <h5 class="card-title">Product Category</h5>
                        <p class="card-text text-gray-light h3">{{category_count}}</p>
                        <a href="#" class="btn btn-gray-light">View Categories</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 text-center">
                    <div class="card bg-light mt-3">
                      <div class="card-body">
                        <h5 class="card-title">Total Variations</h5>
                        <p class="card-text text-gray-light h3">{{variation_count}}</p>
                        <a href="#" class="btn btn-gray-light">View Variations</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 text-center">
                    <div class="card bg-light mt-3">
                      <div class="card-body">
                        <h5 class="card-title">Admin Orders</h5>
                        <p class="card-text text-gray-light h3">{{admin_order_count}}</p>
                        <a href="#" class="btn btn-gray-light">View Orders</a>
                      </div>
                    </div>
                  </div>
              </div>
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock content %}