{% extends "base.html" %}
{% block title %} User Management {% endblock title %}
{% block content %}
{% comment %} {% include 'include/navbarwhite.html' %} {% endcomment %}


    
    
    
    
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-conten padding-y bg" >
    
    <div class="container mt-5 mb-5">
        <h2 class="text-center  mb-5">Manage Users</h2>

        <div class="row">
          {% include 'includes/admin_dashboard_sidebar.html' %}
        
        <main class="col-md-9">
          <div class="col-12 d-flex justify-content-end">
            <form action="" class="search" method="">
              {% csrf_token %}
              <div class="mb-3 ">
                <div class="input-group  ">
                  <input type="text" id="form1" class="form-control" placeholder = "search" name = "key" />
                  
                <button class="btn btn-gray-light" type="submit">
                  <i class="fas fa-search"></i>
                </button>
              </div>
              </div>
            </form>
          </div>
            <div class="row">
              <div class="wrap-table-shopping-cart">
                <table class="table table-gray-light">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email Address</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Active</th>
                        
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                          <th scope="row">{{ user.id }}</th>
                          <td>{{ user.first_name | capfirst}}</td>
                          <td>{{ user.last_name | capfirst}}</td>
                          <td>{{ user.email }}</td>
                          <td>{{ user.phone_number }}</td>
                          <td>
                            {% if user.is_active %}
                            <i class="fas fa-check-circle" style="color: #28a745"></i>
                            {% else %}
                            <i class="fas fa-times-circle" style="color: #c21010"></i>
                            {% endif %}
                          </td>
                       
                          <td>
                            {% if user.is_active %}
                            <a href="{% url 'user_ban' user.id %}" class="btn btn-danger btn-sm">Block</a>
                            
                            {% else %}
                            <a href="{% url 'user_unban' user.id %}" class="btn btn-success btn-sm">Unblock</a>
                            {% endif %}
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                  </table>
                  <div class="container">
                    <nav class="mt-4" aria-label="Page navigation sample">
                      {% if users.has_other_pages %}
                      <ul class="pagination">
                        {% if users.has_previous %}
                        <li class="page-item"><a class="page-link text-dark" href="?page={{ users.previous_page_number }}">Previous</a></li>
                        {% else %}
                        <li class="page-item disabled"><a class="page-link text-dark" href="#">Previous</a></li>
                        {% endif %} {% for page_number in users.paginator.page_range %} {% if users.number == page_number %}
                        <li class="page-item active"><a class="page-link text-dark" href="#">{{ page_number }}</a></li>
                        {% else %}
                        <li class="page-item"><a class="page-link text-dark" href="?page={{ page_number }}">{{ page_number }}</a></li>
                        {% endif %} {% endfor %} {% if users.has_next %}
                        <li class="page-item"><a class="page-link text-dark" href="?page={{ users.next_page_number }}">Next</a></li>
                        {% else %}
                        <li class="page-item disabled"><a class="page-link text-dark" href="#">Next</a></li>
                        {% endif %}
                      </ul>
                      {% endif %}
                    </nav>
                  </div>
                </div>
              </div>
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock content %}